@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #f0f0f0;
        --color: #121212;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #101010;
        --color: #f0f0f0;
    }
}

[data-theme="dark"] {
    --background-color: #101010;
    --color: #f0f0f0;
}

[data-theme="light"] {
    --background-color: #f0f0f0;
    --color: #121212;
}

:root {
    --font-size: 100%;
    --placeholder: "Ask anything... Use ⇧⏎ for line break";
    --background-header:       color-mix(in srgb, var(--background-color) 93%, var(--color)  7%);
    --background-navigation:   color-mix(in srgb, var(--background-color) 89%, var(--color) 11%);
    --background-user:         color-mix(in srgb, var(--background-color) 85%, var(--color) 15%);
    --background-button:       color-mix(in srgb, var(--background-color) 70%, var(--color) 30%);
    --background-button-hover: color-mix(in srgb, var(--background-color) 65%, var(--color) 35%);
    --background-hover:        color-mix(in srgb, var(--background-color) 85%, var(--color) 15%);
    --background-message-box:  color-mix(in srgb, var(--background-color) 80%, var(--color) 20%);
    --background-input:        color-mix(in srgb, var(--background-color) 95%, var(--color)  5%);
    --background-menu:         color-mix(in srgb, var(--background-color) 97%, var(--color)  3%);
    --background-code:         color-mix(in srgb, var(--background-color) 94%, var(--color)  6%);
}

[data-iPhone="true"] {
    --font-size: 130%;
}

[data-iPad="true"] {
    --font-size: 160%;
}

* {
    box-sizing: border-box;
}

body { font-size: var(--font-size); }

@media screen and (-webkit-dynamic-type: large) {
    html { font-size: 120%; } /* Increase size when large text is set */
}

@media screen and (-webkit-dynamic-type: accessibility) {
    html { font-size: 140%; } /* Increase for accessibility settings */
}

sup { font-size: 75%; }

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: contain;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body, #viewport, #navigation, .content, #chat-container, #chat, #modal {
    display: flex;
    flex: auto;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    min-height: 0;
}

html, body, .viewport, .content, #chat-container, #chat {
    padding: 0; /* because navigation and content do have padding */
}

#viewport, #navigation, .content, #chat-container, #chat, #modal {
    width:  -webkit-fill-available;
    height: -webkit-fill-available;
}

.viewport {
    flex: auto;
    flex-direction: column;
    overflow: hidden;
    overscroll-behavior: contain;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

#navigation {
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
}

.modal_page {
    padding-top: max(env(safe-area-inset-top), 1em);
    padding-left: max(env(safe-area-inset-left), 1em);
    padding-right: max(env(safe-area-inset-right), 1em);
    padding-bottom: max(env(safe-area-inset-bottom), 1em);
}

#layout {
    position: relative;
    overscroll-behavior: contain;
    transition: all 0.3s;
}

#navigation {
    z-index: 30;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: env(safe-area-inset-top);
    padding-top: 0;
    max-width: 60%;
    height: 100%;
    overflow: hidden;
    background-color: var(--background-navigation);
/*  background-color: blue; */
    transition: all 0.3s ease;
}

.header {
    display: flex;
    flex: 0 0 auto; /* Prevents stretching */
    position: sticky;
    top: 0;
    left: 2.5em;
    height: 3em; /* Ensure uniform height */
    min-height: 3em; /* Prevents collapsing */
    padding: 0.5em; /* Ensure consistent padding */
    overflow: hidden;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between;
    background-color: var(--background-header);
}

.header { z-index: 20; }

#footer {
    margin: 0;
    margin-top: auto;
    padding-top: 0.25em;
    padding-left: max(env(safe-area-inset-left), 1.25em);
    padding-right: 1em;
    padding-bottom: max(env(safe-area-inset-bottom), 0.5rem);
}

.left, .right {
    display: flex;
    flex: 0 0 auto; /* Prevents stretching */
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5em;
    white-space: nowrap;
    flex-shrink: 0; /* Don’t allow left/right to shrink away */
}

.center {
    display: flex;
    flex: 0 0 auto; /* Prevents stretching */
    min-width: 0;  /* allow shrinking */
    align-items: center;
    justify-content: center; /* center the child */
    overflow: hidden;
    flex-shrink: 1;
}

.center #title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    font-size: small;
}

.collapsed {
    display: none;
    transform: translateX(-100%);
    overflow: hidden;
    transition: max-width 0.3s ease;
}

code, pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.user, .bot, #input, input {
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.25em;
    margin: 0;
    padding: 0.25em;
    cursor: pointer;
}

.item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}

.item:hover {
    background-color: var(--background-hover);
}

#chats {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: -webkit-fill-available;
    overflow: hidden;
}

#list {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 85%;
    padding: 0.25em;
    overflow-x: hidden;
    overflow-y: auto;
}

#chat-container {
    margin: 0.25em;
    border: none;
}

#messages {
    min-height: 0;
    gap: 0.5em;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
/*  background-color: red; */
    overscroll-behavior: contain;
    scroll-behavior: smooth;
}

#input_container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    border: 1px solid #888;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.25em;
    margin-bottom: 0;
    gap: 0.5em;
    background-color: var(--background-input);
}

#input {
    border: 0;
    min-height: 1.5em;
    outline: none;
    resize: none;
    overflow: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
}

#input:empty::before {
    content: var(--placeholder);
    pointer-events: none;
    color: #888;
}

#input:focus:empty::before {
    content: "";
}

.user {
    background: var(--background-user);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 0.125em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.25em;
    max-width: 100%;
    /* Word-breaking properties */
    word-wrap: break-word;  /* For older browsers */
    overflow-wrap: break-word; /* Standard property */
    word-break: break-word; /* Fallback for very long words */
}

.user p {
    margin: 0.25em
    padding-left:  0.75em;
    padding-right: 0.75em;
}

.bot {
    background: var(--background-color);
    margin-block-start: 0 !important;
    margin-block-end:   0 !important;
    border-radius: 0.25em;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 98%;
    white-space: pre-wrap;
    word-wrap:   break-word;
    word-break:  break-word;
}

.bot ol {
    margin-block-start: 0 !important;
    margin-block-end:   0 !important;
}

.bot p {
    margin-block-start: 0 !important;
    margin-block-end:   0 !important;
    margin:         0;
    margin-left:    0.75em;
    margin-right:   0.75em;
    padding-top:    0;
    padding-bottom: 0;
}

.bot ol, .bot ul {
    list-style-type: none;
    margin-block-start: 0; /* controls vertical space */
    margin-left:   0.75em;
    margin-right:  0.75em;
    margin-top:    0;
    margin-bottom: 0;
    padding:       0;
}

.bot li {
    margin-top:    0;
    margin-bottom: 0;
    padding:       0;
    margin-left:   1em;
    margin-right:  1em;
}

.bot li p {
    display: inline;
    margin:        0;
    padding:       0;
}

.bot pre, .user pre,
.bot pre code, .user pre code {
    display:      block;
    font-size:    90%;
    overflow-x:   auto;
    max-width:    97%;
    background:   var(--background-code);
    margin-left:  1em;
    margin-right: 1em;
    white-space:  pre-wrap;
    word-wrap:    break-word;
    word-break:   break-word;
}

.button_row {
    display: flex;
    padding-top: .25em;
    justify-content: space-between;
    width: 100%;
}

.left-buttons { display: flex; }

#clear, #carry, #stop, #send { transition: visibility 0s linear; }

#clear, #carry, #stop { display: none; }

#stop.hidden, #clear.hidden, #carry.hidden, #send.hidden {
    visibility: hidden;
}

button {
    color: var(--color);
    background-color: var(--background-button);
    border-radius: 0.25em;
    border: 1px solid rgba(136, 136, 136, 0.5);
    font-size: 0.75em;
}

.button {
    cursor: pointer;
    border: none;
    border-radius: 0.25em;
    font-size: 1.0em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 1.0em;
    width: 1.5em;
    height: 1.5em;
    min-width: 1.5em;
    min-height: 1.5em;
    transition: background-color 0.2s ease;
}

.item .button {
    margin-left: auto;
}

.item:hover,
.button:hover { background-color: var(--background-button-hover); }

#scroll {
    position: absolute;
    font-weight: bold;
    bottom: 1.0rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    display: none;
    cursor: pointer;
}

.circled {
    color: var(--color);
    background-color: var(--background-button);
    border: 2px solid #888;
    width: 2.0em;
    height: 2.0em;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
    line-height: 1;
    padding: 0;
}

.circled:hover { background-color: var(--background-button-hover); }

.upsidedown {
    transform: rotate(180deg);
    display: inline-block;
}

.mirror {
    transform: scaleX(-1);
    display: inline-block;
}

.logo {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: url("./logo-256x256.png") no-repeat center center;
    background-size: contain;
}

.logo-container {
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center; /* Optional: Centers horizontally */
    gap: 0.5em; /* Adjust spacing between logo and text */
    height: 100%; /* Ensure the container takes the full height */
}

.logo-content {
    display: flex;
    align-items: center; /* Ensures text is also centered */
}

#menu {
    font-size: 80%;
    position: absolute;
    display: none;
    border: 1px solid #888;
    background-color: var(--background-color);
    z-index: 60;
    padding: 0.25em;
    min-width: 5em;
    border: 1px solid #888;
    border-radius: 0.5em;
    background-color: var(--background-menu);
}

.menu_item {
    display: flex;        /* Lay out icon + label side by side */
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.25em 0.5em;
    font-size: 1em;
    text-align: left;
    width: 100%;          /* Make each button fill the menu width */
}

.menu_item .icon {
    margin-right: 0.5em;
}

#remove .label {
    color: red;
}

.menu_item:hover {
    background-color: var(--background-hover);
}

.selected { font-weight: bold; }

.pulsing {
    border: 2px solid #888; /* Base border color */
    animation: pulse-border 0.5s infinite alternate ease-in-out;
}

@keyframes pulse-border {
    from {
        border-color: #666;
    }
    to {
        border-color: #AAA;
    }
}

@keyframes rainbow-shift {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.shimmering {
    background: linear-gradient(90deg, blue, green, yellow, orange, red);
    background-size: 400% 400%;
    animation: rainbow-shift 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.rainbow {
    background: linear-gradient(90deg, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

#suggest {
    display: none;
    height: 100%;
    width: 100%;
}

.suggestions_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75em;
    padding: 0.25em;
    background-color: var(--background);
    border-radius: 0.5em;
    overflow: auto;
}

.suggestion_box {
    background-color: var(--background-input);
    color: var(--color);
    border: 1px solid #888;
    border-radius: 0.5em;
    padding: 0.25em;
    width: 90%;
    max-width: 14em;
    max-height: 4.5em;
    min-height: 4.5em;
    overflow: hidden;
}

.suggestion_box:hover {
    background: var(--background-hover);
}

.suggestion_title {
    font-size: 90%;
    font-weight: 600;
    margin-bottom: 0;
}

.suggestion_text {
    padding-top: 0.25em;
    font-size: 75%;
    overflow: hidden;
    white-space: normal;
    position: relative;
    text-overflow: ellipsis;
}

.suggestion_text span {
    display: block;
    transition: opacity 0.1s ease;
}

#modal {
    display: none;
    z-index: 70;
    position: absolute;
    color: var(--color);
    background-color: var(--background-color);
    overscroll-behavior: contain;
    overflow: hidden;
}

#share { display: none; } /* TODO: not implemented yet */
